.page
  #map
  .chart
    h4 Crimes around you
    #chart
      svg
  .loader(ng-if="loading")
    .img
      img.img-responsive(src="assets/images/loading.svg", alt="")
      span.text-muted Loading....
  #result(ng-if="showResult")
    .result-box
      .result-button Yes
      a.find-why(href="", ng-click="enableshowResult()") Find out why!


