.resutls {
  &.enabled {
    .find-why {
      display: none;
    }
    .result-button {
      font-size: 50px;
      transition: all 0.3s ease-in-out;
      margin: 0;
      color: #43434a;
      display: inline-block;
    }
    .bg.c5 {
      .linear-gradient(@c101, @c102);
    }
    .current-address {
      display: inline;
      font-size: 18px;
      color: #888;
    }
    .result-details {
      display: block;
      z-index: 22;
    }
    .page {
      opacity: 1;
    }
    .result {
      z-index: -1;
    }
  }
}
